/pc_tmd_L2_stratifKFold_decisiontree
/pc_tmd_L2_stratifKFold_xgb_oversampled
/pc_tmd_L2_stratifKFold_xgb
/pc_tmd_L2_stratifKFold_cnn_oversampled
/pc_tmd_L2_stratifKFold_decisiontree_oversampled
/pc_deepwalk_L2_stratifKFold_perslay
/pc_tmd_L2_stratifKFold_cnn
/pc_deepwalk_L2_stratifKFold_xgb
/pc_tmd_L2_stratifKFold_perslay
/pc_deepwalk_L2_stratifKFold_decisiontree_oversampled
/pc_deepwalk_L2_stratifKFold_perslay_oversampled
/pc_tmd_L2_stratifKFold_perslay_oversampled
/pc_morphology_L2_stratifKFold_gnn
/pc_deepwalk_L2_stratifKFold_cnn
/pc_deepwalk_L2_stratifKFold_decisiontree
/pc_deepwalk_L2_stratifKFold_xgb_oversampled
/pc_morphology_L2_stratifKFold_gnn_oversampled
/pc_deepwalk_L2_stratifKFold_cnn_oversampled
