/pc_tmd_L2_stratifKFold_decisiontree_results.chk
/pc_tmd_L2_stratifKFold_xgb_oversampled_results.chk
/pc_tmd_L2_stratifKFold_xgb_results.chk
/pc_tmd_L2_stratifKFold_cnn_oversampled_results.chk
/pc_tmd_L2_stratifKFold_decisiontree_oversampled_results.chk
/pc_deepwalk_L2_stratifKFold_perslay_results.chk
/pc_tmd_L2_stratifKFold_cnn_results.chk
/pc_deepwalk_L2_stratifKFold_xgb_results.chk
/pc_tmd_L2_stratifKFold_perslay_results.chk
/pc_deepwalk_L2_stratifKFold_decisiontree_oversampled_results.chk
/pc_deepwalk_L2_stratifKFold_perslay_oversampled_results.chk
/pc_tmd_L2_stratifKFold_perslay_oversampled_results.chk
/pc_morphology_L2_stratifKFold_gnn_results.chk
/pc_deepwalk_L2_stratifKFold_cnn_results.chk
/pc_deepwalk_L2_stratifKFold_decisiontree_results.chk
/pc_deepwalk_L2_stratifKFold_xgb_oversampled_results.chk
/pc_morphology_L2_stratifKFold_gnn_oversampled_results.chk
/pc_deepwalk_L2_stratifKFold_cnn_oversampled_results.chk
