/pc-L2-gnn-morphology-stratifKFold
/pc-L2-decisiontree-tmd-stratifKFold
/pc-L2-cnn-tmd-stratifKFold
/pc-L2-xgb-deepwalk-stratifKFold
/pc-L2-cnn-deepwalk-stratifKFold
/pc-L2-perslay-tmd-stratifKFold
/pc-L2-xgb-tmd-stratifKFold
/pc-L2-perslay-deepwalk-stratifKFold
/pc-L2-decisiontree-deepwalk-stratifKFold
/pc-L5-cnn-tmd-stratifKFold
/pc-L5-xgb-tmd-stratifKFold
/pc-L5-gnn-morphology-stratifKFold
/pc-L5-decisiontree-tmd-stratifKFold
/pc-L5-xgb-deepwalk-stratifKFold
/pc-L5-perslay-deepwalk-stratifKFold
/pc-L5-decisiontree-deepwalk-stratifKFold
/pc-L5-cnn-deepwalk-stratifKFold
/pc-L5-perslay-tmd-stratifKFold
/pc-L6-gnn-morphology-stratifKFold
/pc-L6-decisiontree-deepwalk-stratifKFold
/pc-L6-perslay-deepwalk-stratifKFold
/pc-L6-xgb-deepwalk-stratifKFold
/pc-L6-xgb-tmd-stratifKFold
/pc-L6-perslay-tmd-stratifKFold
/pc-L6-decisiontree-tmd-stratifKFold
/pc-L6-cnn-deepwalk-stratifKFold
/pc-L6-cnn-tmd-stratifKFold
