/in-merged-bc-merged-basal-decision-tree-deepwalk-stratified-k-fold
/in-merged-bc-merged-basal-gnn-morphology-stratified-k-fold
/in-merged-bc-merged-all-decision-tree-deepwalk-stratified-k-fold
/in-merged-bc-merged-all-xgb-tmd-stratified-k-fold
/in-merged-bc-merged-all-decision-tree-tmd-stratified-k-fold
/in-merged-bc-merged-basal-perslay-deepwalk-stratified-k-fold
/in-merged-bc-merged-all-perslay-deepwalk-stratified-k-fold
/in-merged-bc-merged-all-perslay-tmd-stratified-k-fold
/in-merged-bc-merged-basal-perslay-tmd-stratified-k-fold
/in-merged-bc-merged-basal-xgb-deepwalk-stratified-k-fold
/in-merged-bc-merged-all-cnn-tmd-stratified-k-fold
/in-merged-bc-merged-basal-cnn-deepwalk-stratified-k-fold
/in-merged-bc-merged-basal-cnn-tmd-stratified-k-fold
/in-merged-bc-merged-basal-xgb-tmd-stratified-k-fold
/in-merged-bc-merged-all-gnn-morphology-stratified-k-fold
/in-merged-bc-merged-all-cnn-deepwalk-stratified-k-fold
/in-merged-bc-merged-all-xgb-deepwalk-stratified-k-fold
/in-merged-bc-merged-basal-decision-tree-tmd-stratified-k-fold
/janelia-L5-axon-decision-tree-deepwalk-stratified-k-fold
/janelia-L5-basal-decision-tree-deepwalk-stratified-k-fold
/janelia-L5-axon-gnn-morphology-stratified-k-fold
/janelia-L5-basal-xgb-deepwalk-stratified-k-fold
/janelia-L5-all-cnn-deepwalk-stratified-k-fold
/janelia-L5-basal-xgb-tmd-stratified-k-fold
/janelia-L5-axon-decision-tree-tmd-stratified-k-fold
/janelia-L5-basal-cnn-tmd-stratified-k-fold
/janelia-L5-basal-gnn-morphology-stratified-k-fold
/janelia-L5-all-perslay-tmd-stratified-k-fold
/janelia-L5-axon-perslay-deepwalk-stratified-k-fold
/janelia-L5-all-xgb-tmd-stratified-k-fold
/janelia-L5-axon-xgb-tmd-stratified-k-fold
/janelia-L5-axon-cnn-tmd-stratified-k-fold
/janelia-L5-all-decision-tree-tmd-stratified-k-fold
/janelia-L5-all-gnn-morphology-stratified-k-fold
/janelia-L5-all-perslay-deepwalk-stratified-k-fold
/janelia-L5-axon-cnn-deepwalk-stratified-k-fold
/janelia-L5-axon-perslay-tmd-stratified-k-fold
/janelia-L5-all-xgb-deepwalk-stratified-k-fold
/janelia-L5-axon-xgb-deepwalk-stratified-k-fold
/janelia-L5-basal-perslay-tmd-stratified-k-fold
/janelia-L5-all-cnn-tmd-stratified-k-fold
/janelia-L5-basal-cnn-deepwalk-stratified-k-fold
/janelia-L5-basal-decision-tree-tmd-stratified-k-fold
/janelia-L5-all-decision-tree-deepwalk-stratified-k-fold
/janelia-L5-basal-perslay-deepwalk-stratified-k-fold
/in-merged-basal-xgb-deepwalk-stratified-k-fold
/in-merged-all-cnn-tmd-stratified-k-fold
/in-merged-all-perslay-tmd-stratified-k-fold
/in-merged-basal-cnn-deepwalk-stratified-k-fold
/in-merged-all-perslay-deepwalk-stratified-k-fold
/in-merged-all-xgb-tmd-stratified-k-fold
/in-merged-basal-xgb-tmd-stratified-k-fold
/in-merged-basal-decision-tree-tmd-stratified-k-fold
/in-merged-basal-perslay-tmd-stratified-k-fold
/in-merged-all-decision-tree-tmd-stratified-k-fold
/in-merged-all-decision-tree-deepwalk-stratified-k-fold
/in-merged-all-xgb-deepwalk-stratified-k-fold
/in-merged-basal-gnn-morphology-stratified-k-fold
/in-merged-basal-perslay-deepwalk-stratified-k-fold
/in-merged-all-gnn-morphology-stratified-k-fold
/in-merged-basal-decision-tree-deepwalk-stratified-k-fold
/in-merged-basal-cnn-tmd-stratified-k-fold
/in-merged-all-cnn-deepwalk-stratified-k-fold
/in-merged-all-cnn-tmd-proj-stratified-k-fold
/in-merged-all-decision-tree-tmd-proj-stratified-k-fold
/in-merged-all-gnn-morphology-proj-stratified-k-fold
/in-merged-all-perslay-tmd-proj-stratified-k-fold
/in-merged-all-xgb-tmd-proj-stratified-k-fold
/in-merged-basal-cnn-tmd-proj-stratified-k-fold
/in-merged-basal-decision-tree-tmd-proj-stratified-k-fold
/in-merged-basal-gnn-morphology-proj-stratified-k-fold
/in-merged-basal-perslay-tmd-proj-stratified-k-fold
/in-merged-basal-xgb-tmd-proj-stratified-k-fold
/in-merged-bc-merged-all-cnn-tmd-proj-stratified-k-fold
/in-merged-bc-merged-all-decision-tree-tmd-proj-stratified-k-fold
/in-merged-bc-merged-all-gnn-morphology-proj-stratified-k-fold
/in-merged-bc-merged-all-perslay-tmd-proj-stratified-k-fold
/in-merged-bc-merged-all-xgb-tmd-proj-stratified-k-fold
/in-merged-bc-merged-basal-cnn-tmd-proj-stratified-k-fold
/in-merged-bc-merged-basal-decision-tree-tmd-proj-stratified-k-fold
/in-merged-bc-merged-basal-gnn-morphology-proj-stratified-k-fold
/in-merged-bc-merged-basal-perslay-tmd-proj-stratified-k-fold
/in-merged-bc-merged-basal-xgb-tmd-proj-stratified-k-fold
