/in-L1-morphometrics-xgb-stratified-k-fold
/in-L23-morphometrics-xgb-stratified-k-fold
/in-L4-morphometrics-xgb-stratified-k-fold
/in-L5-morphometrics-xgb-stratified-k-fold
/in-L6-morphometrics-xgb-stratified-k-fold
/in-merged-bc-merged-morphometrics-xgb-stratified-k-fold
/in-merged-morphometrics-xgb-stratified-k-fold
/janelia-L5-morphometrics-xgb-stratified-k-fold
/janelia-L6-morphometrics-xgb-stratified-k-fold
/pc-L2-morphometrics-xgb-stratified-k-fold
/pc-L3-morphometrics-xgb-stratified-k-fold
/pc-L4-morphometrics-xgb-stratified-k-fold
/pc-L5-morphometrics-xgb-stratified-k-fold
/pc-L6-morphometrics-xgb-stratified-k-fold
