/in-L1-all-morphometrics-xgb-stratified-k-fold
/in-L23-all-morphometrics-xgb-stratified-k-fold
/in-L4-all-morphometrics-xgb-stratified-k-fold
/in-L5-all-morphometrics-xgb-stratified-k-fold
/in-L6-all-morphometrics-xgb-stratified-k-fold
/janelia-L5-all-morphometrics-xgb-stratified-k-fold
/pc-L2-all-morphometrics-xgb-stratified-k-fold
/pc-L3-all-morphometrics-xgb-stratified-k-fold
/pc-L4-all-morphometrics-xgb-stratified-k-fold
/pc-L5-all-morphometrics-xgb-stratified-k-fold
/pc-L6-all-morphometrics-xgb-stratified-k-fold
/in-merged-all-morphometrics-xgb-stratified-k-fold
/in-merged-bc-merged-all-morphometrics-xgb-stratified-k-fold
/in-L1-petilla-morphometrics-xgb-stratified-k-fold
/in-L23-petilla-morphometrics-xgb-stratified-k-fold
/in-L1-allen-morphometrics-xgb-stratified-k-fold
/in-L23-allen-morphometrics-xgb-stratified-k-fold
/in-L4-allen-morphometrics-xgb-stratified-k-fold
/in-L5-allen-morphometrics-xgb-stratified-k-fold
/in-L6-allen-morphometrics-xgb-stratified-k-fold
/janelia-L5-allen-morphometrics-xgb-stratified-k-fold
/pc-L2-allen-morphometrics-xgb-stratified-k-fold
/pc-L3-allen-morphometrics-xgb-stratified-k-fold
/pc-L4-allen-morphometrics-xgb-stratified-k-fold
/pc-L5-allen-morphometrics-xgb-stratified-k-fold
/pc-L6-allen-morphometrics-xgb-stratified-k-fold
/in-merged-allen-morphometrics-xgb-stratified-k-fold
/in-merged-bc-merged-allen-morphometrics-xgb-stratified-k-fold
/in-L1-lauturns-morphometrics-xgb-stratified-k-fold
/in-L23-lauturns-morphometrics-xgb-stratified-k-fold
/in-L4-lauturns-morphometrics-xgb-stratified-k-fold
/in-L5-lauturns-morphometrics-xgb-stratified-k-fold
/in-L6-lauturns-morphometrics-xgb-stratified-k-fold
/janelia-L5-lauturns-morphometrics-xgb-stratified-k-fold
/pc-L2-lauturns-morphometrics-xgb-stratified-k-fold
/pc-L3-lauturns-morphometrics-xgb-stratified-k-fold
/pc-L4-lauturns-morphometrics-xgb-stratified-k-fold
/pc-L5-lauturns-morphometrics-xgb-stratified-k-fold
/pc-L6-lauturns-morphometrics-xgb-stratified-k-fold
/in-merged-lauturns-morphometrics-xgb-stratified-k-fold
/in-merged-bc-merged-lauturns-morphometrics-xgb-stratified-k-fold
/in-L4-petilla-morphometrics-xgb-stratified-k-fold
/in-L5-petilla-morphometrics-xgb-stratified-k-fold
/in-L6-petilla-morphometrics-xgb-stratified-k-fold
/pc-L2-petilla-morphometrics-xgb-stratified-k-fold
/pc-L4-petilla-morphometrics-xgb-stratified-k-fold
/pc-L6-petilla-morphometrics-xgb-stratified-k-fold
/in-merged-petilla-morphometrics-xgb-stratified-k-fold
/in-merged-bc-merged-petilla-morphometrics-xgb-stratified-k-fold
/janelia-L5-petilla-morphometrics-xgb-stratified-k-fold
