/in_tmd_L6_stratifKFold_decisiontree
/in_tmd_L6_stratifKFold_perslay_oversampled
/in_morphology_L6_stratifKFold_gnn
/in_tmd_L6_stratifKFold_cnn
/in_tmd_L6_stratifKFold_xgb
/in_tmd_L6_stratifKFold_decisiontree_oversampled
/in_deepwalk_L6_stratifKFold_perslay_oversampled
/in_deepwalk_L6_stratifKFold_cnn_oversampled
/in_morphology_L6_stratifKFold_gnn_oversampled
/in_deepwalk_L6_stratifKFold_decisiontree
/in_deepwalk_L6_stratifKFold_xgb
/in_deepwalk_L6_stratifKFold_perslay
/in_deepwalk_L6_stratifKFold_cnn
/in_deepwalk_L6_stratifKFold_decisiontree_oversampled
/in_deepwalk_L6_stratifKFold_xgb_oversampled
/in_tmd_L6_stratifKFold_perslay
/in_tmd_L6_stratifKFold_xgb_oversampled
/in_tmd_L6_stratifKFold_cnn_oversampled
/in_morphology_L6_stratifKFold_gnn_oversampled_TL_pc_L2_frozen
/in_morphology_L6_stratifKFold_gnn_oversampled_TL_pc_L2
